################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/img/paperplane.xcf
/img/enemy.xcf
/img/player.xcf
/.vs/obstacle_odyssey/FileContentIndex
